.workshopBox {
  line-height: 40px;
  vertical-align: middle;
  position: absolute;
  background-color: rgb(235, 235, 235);
  border: 1px solid black;
  z-index: 50;
  cursor: grab;
  user-select: none;
  font-size: 12px;
}

.deleteBox:hover {
  border: 1px solid red !important;
}

.createLine:hover {
  border: 1px solid blue !important;
}

.link {
  position: absolute;
  top: -16px;
  left: -16px;
  width:20px;
  height: 20px;
  padding: 5px;
  border-radius: 50%;
  background-color: rgb(0, 38, 255);
  color: white;
  line-height: 20px;
}

.link>svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.link:hover {
  color: rgb(0, 38, 255);
  background-color: white;
  border: 2px solid rgb(0, 38, 255);
}