.info {
  width: 700px;
  /* border: 1px dashed black; */
  margin: auto;
  text-align: left;
  background-color: transparent;
}

.header {
  margin: 20px 0;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.label, .inputLabel {
  padding: 5px;
  width: 100px;
  margin-left: 5px;
}

.inputLabel {
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.description {
  min-height: 100px;
}

.hiddenInput {
  width: 97.5%;
  margin: 0;
  outline: none;
  border: none;
  font-size: 16px;
  padding: 5px;
}

.hiddenSelect {
  width: 100%;
  margin: 0;
  outline: none;
  border: none;
  font-size: 16px;
  padding: 5px;
  background-color: white;
}

textarea {
  width: 98.5%;
  resize: none;
  font-size: 16px;
}

.inputBox {
  padding: 5px;
}

.inputBox.link {
  cursor: pointer;
}

.inputBox.link:hover {
  color: blue;
}


.componentCard {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.componentBox {
  flex-grow: 3;
  position: relative;
  border: 1px solid rgb(124, 124, 124);
  border-radius: 2px;
  padding: 5px;
  margin-bottom: 5px;
}

.componentRed {
  background-color: white;
}

.componentBox:last-child {
  margin-bottom: 0px;
}

.componentBox.link {
  cursor: pointer;
}

.componentBox.link:hover {
  color: blue;
  border: 1px solid blue;
}

.clearIcon {
  background-color: white;
  border: 1px solid rgb(124, 124, 124);
  margin-left: 2px;
  text-align: center;
  margin-bottom: 5px;
}
.clearIcon:hover {
  color: red;
  cursor: pointer;
}



.addWrapper {
  text-align: center;
}

.addBotton {
  font-size: 35px;
}

.addBotton:hover {
  color: blue;
  cursor: pointer;
}

.editIcon {
  margin-left: 10px;
  cursor: pointer;
  vertical-align: middle;
}

.editIcon:hover {
  color: green;
}

.btnList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
