body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

select {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiTreeView-root::-webkit-scrollbar {
  background-color: rgb(92, 92, 92);
}

.MuiTreeView-root::-webkit-scrollbar-thumb {
  background-color: rgb(153, 153, 153);
  border-radius: 5px;
}

table {

  margin: auto;
  width: 100%;
  border: 1px solid grey;
}

td:first-child {
  width: 30%;
}

td {
  vertical-align: middle;
  padding: 5px;
  border: 1px solid grey;
  font-size: 16px;
}

td.top {
  vertical-align: top;
}

th {
  border: 1px solid grey;
}

.MuiTreeItem-content {
  font-size: 5px !important;
}

.MuiTreeItem-group {
  font-size: 5px !important;
}

.MuiTreeItem-root {
  font-size: 5px;
}

.MuiTreeItem-label {
  font-size: 5px;
}

.iconContainer {
  font-size: 5px;
}